/* .thri {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  background-color: white;      
  color: black;                 
  border: 2px solid black;      
  border-radius: 6px;            
  cursor: pointer;
  transition: all 0.3s ease; 

}

.thri:hover {
   background-color: blueviolet;      
  color: white;       
} */

.thri {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.thri:hover {
  background-color: blueviolet;
  color: white;
}
