@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.thri {
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  gap: 10px;
}

.thri a:nth-child(1) {
  border: 1px solid yellow;
  padding: 10px;
  border-radius: 40px;
  background-color: rgba(248, 206, 152, 0.384);
}

.thri a:nth-child(1):hover {
  background-color: blueviolet;
  color: white;
}

.thri a:nth-child(2) {
  border: 1px solid yellow;
  padding: 10px;
  border-radius: 40px;
  background-color: rgba(248, 206, 152, 0.384);
}

.thri a:nth-child(2):hover {
  background-color: blueviolet;
  color: white;
}
